<a href="https://colab.research.google.com/github/jalvarez2410/Python/blob/main/D%C3%ADa%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
contador =1
while contador <=5:
  print(contador)
  contador= contador + 0.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0

In [ ]:
edad=0
while edad <=18:
  edad=edad+1
  print("Felicidades, tienes " + str(edad))

Felicidades, tienes 1
Felicidades, tienes 2
Felicidades, tienes 3
Felicidades, tienes 4
Felicidades, tienes 5
Felicidades, tienes 6
Felicidades, tienes 7
Felicidades, tienes 8
Felicidades, tienes 9
Felicidades, tienes 10
Felicidades, tienes 11
Felicidades, tienes 12
Felicidades, tienes 13
Felicidades, tienes 14
Felicidades, tienes 15
Felicidades, tienes 16
Felicidades, tienes 17
Felicidades, tienes 18
Felicidades, tienes 19

In [ ]:
#Ejercicio
numeros= 0
while numeros <=99:
  numeros= numeros + 1
  print("Número", numeros)

Número 1
Número 2
Número 3
Número 4
Número 5
Número 6
Número 7
Número 8
Número 9
Número 10
Número 11
Número 12
Número 13
Número 14
Número 15
Número 16
Número 17
Número 18
Número 19
Número 20
Número 21
Número 22
Número 23
Número 24
Número 25
Número 26
Número 27
Número 28
Número 29
Número 30
Número 31
Número 32
Número 33
Número 34
Número 35
Número 36
Número 37
Número 38
Número 39
Número 40
Número 41
Número 42
Número 43
Número 44
Número 45
Número 46
Número 47
Número 48
Número 49
Número 50
Número 51
Número 52
Número 53
Número 54
Número 55
Número 56
Número 57
Número 58
Número 59
Número 60
Número 61
Número 62
Número 63
Número 64
Número 65
Número 66
Número 67
Número 68
Número 69
Número 70
Número 71
Número 72
Número 73
Número 74
Número 75
Número 76
Número 77
Número 78
Número 79
Número 80
Número 81
Número 82
Número 83
Número 84
Número 85
Número 86
Número 87
Número 88
Número 89
Número 90
Número 91
Número 92
Número 93
Número 94
Número 95
Número 96
Número 97
Número 98
Número 99
Número 100

In [ ]:
#Ejercicio
numeros= 0
while numeros <50:
  numeros= numeros + 1
  if numeros%2:
    print(numeros)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#Ejercicio
numeros= 1

while numeros <=10:
  expo= numeros**2
  print(expo)
  numeros +=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
numeros = [1,2,3,4,5]
print(numeros)
for i in numeros:
  print(i)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [ ]:
texto= "Python es un lenguaje de programación fantástico"
contador_a=0
for i in range(len(texto)):
  if texto[i] =="a":
    contador_a+=1
print(f"El número de letras 'a en el texto es: {contador_a}")

El número de letras 'a en el texto es: 4

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for numero in numeros:
  print("Revisando número: ", numero)
  if numero ==5:
    print("Número encontrado", numero)
    break

Revisando número:  1
Revisando número:  2
Revisando número:  3
Revisando número:  4
Revisando número:  5
Número encontrado 5

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for numero in numeros:
  if numero%2==0:
    continue
  print("Número impar:", numero)

Número impar: 1
Número impar: 3
Número impar: 5
Número impar: 7
Número impar: 9

In [ ]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:

for i in range(1,51):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
n = int(input("Ingrese un número: " ))
fact = 1

for i in range(1, n+1):
    fact = fact * i

print("El factorial es : ", end="")
print(fact)

Ingrese un número: 1
El factorial es : 1

In [ ]:

def funcion(a,b):
  a=1
  b=3
  c=a+b

  return c


print(c)

NameError: name 'c' is not defined

In [ ]:
def funcionHola():
  print("Hola mundo")

funcionHola()

Hola mundo